<h2>{{toPreferredDateFormat(DateTime.fromISO(eventDate()))}}</h2>
<div class="allEventsContainer">
    @for (event of eventsSortedByTime(); track event.eventId) {
    <div class="eventContainer">
      <em> <h4>{{fetchName(event.owner)}}</h4> </em>
      <div class="eventTitle">
        <b><h3>{{ event.name }}</h3></b>
        @if (event.startTime == null && event.endTime == null) {
          <h4>All Day</h4>
        } @else {
          <h4>{{ durationStr(event.startTime, event.endTime) }}</h4>
        }
      </div>
      <div class="eventBody">
        <p>{{ event.description }}</p>
      </div>

      <div class="actionBar">
        @if (event.hasWriteAccess) {
          <button (click)="handleAttachClick(event.date,event.eventId,attachModalSignal)">Attach resource</button>
          <button>Edit</button>
          <button (click)="handleDeleteClick(event.eventId)">Delete</button>
        }
      </div>


    </div>
    }
</div>
<app-modal [modalState]="attachModalSignal()">

  <form [formGroup]="attachResourceForm" class="attachResourceContainer" (click)="handleNonBlurClick($event)" (ngSubmit)="handleSubmit()">
    <h1>Attach a resource to your event</h1>
    <div class="inputContainer">

      <label for="resourceId">Resource: </label>
      <select formControlName="resourceId" id="resourceId">
        @if (resources == null) {
          <option selected disabled>Loading Resources</option>
        }
        @else{
          @for (resource of resources; track resource.resourceId){
            <option value="{{resource.resourceId}}">{{resource.name}} ({{fetchName(resource.owner)}})</option>
          }
        }
      </select>

      <label for="startTime">Reservation Start: </label>
      <input formControlName="startTime" id="startTime" type="time"/>


      <label for="endTime">Reservation End: </label>
      <input formControlName="endTime" id="endTime" type="time"/>


      <label for="notes">Notes: </label>
      <input formControlName="notes" id="notes"/>
    </div>

    <button type="submit">Attach</button>

  </form>
</app-modal>

<app-modal [modalState] = "deleteSignal()" >
  <div class="deleteContainer" (click)="handleNonBlurClick($event)" >
    <h1>Are you sure?</h1>
    <div>
      <button (click)="approveDelete()">Yes</button>
      <button (click)="cancelDelete()">No</button>
    </div>
  </div>
</app-modal>

