.allEventsContainer {
  display: flex;
  flex-direction: column;
}


.eventContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-overlay-color);
  margin-left: 200px;
  width: fit-content;
  padding : 10px;
  border-radius: 10px;
  min-width: 15vw;
  margin-top: 15px;
}

.eventContainer > em > h4 {
  margin-bottom: 0;
  margin-left: 4px;

}

.eventTitle {
  margin-top: 0;
  display: flex;
}

.eventTitle h3,h4 {
  margin-right: 10px;
}

.eventBody {
  margin-top: -20px;
}

.attachResourceContainer {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--modal-overlay-color);
  padding: 10px;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 25vh;
  border-radius: 25px;
}

.inputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;

}

.inputContainer label {
  text-align: left;
}
.inputContainer label,input {
  margin: 2px;
}

button {
  margin: 4px;
}

.deleteContainer {
  background-color: var(--modal-overlay-color);
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 10px;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 25vh;
}


