<div class="resourcesCardContainer" [routerLink]="['resources']">
  @if (resources() == null) {
    <p>Fetching availability</p>
  } @else {
    <h3>Resources</h3>
      @for (resource of resources(); track resource.resourceId) {
        <div class="resourceCard">
          <p> {{resource.name}} - {{resource.availability}} until {{statusChangeStr(resource.statusChange)}}</p>
        </div>

      } @empty {
        <div class="resourceCard">
          <p>There are no shared resources in this group</p>
        </div>
      }

  }
</div>
