<h2>{{toPreferredDateFormat(DateTime.fromISO(eventDate()))}}</h2>
<div class="allEventsContainer">
    @for (event of eventsSortedByTime(); track event.eventId) {
    <div class="eventContainer">
      <em> <h4>{{fetchName(event.owner)}}</h4> </em>
      <div class="eventTitle">
        <b><h3>{{ event.name }}</h3></b>
        @if (event.startTime == null && event.endTime == null) {
          <h4>All Day</h4>
        } @else {
          <h4>{{ durationStr(event.startTime, event.endTime) }}</h4>
        }
      </div>
      <div class="eventBody">
        <p>{{ event.description }}</p>
      </div>

      <div class="actionBar">
        @if (event.hasWriteAccess) {
          <button (click)="invert(attachModal)">Attach resource</button>
          <button>Edit</button>
          <button>Delete</button>
        }
      </div>
    </div>
  }
</div>
<app-modal [modalState]="attachModal()">

      <form [formGroup]="attachResourceForm" class="attachResourceContainer" (click)="handleNonBlurClick($event)">
        <h1>Attach a resource to your event</h1>
        <div class="inputContainer">

            <label for="resourceName">Resource: </label>
            <select formControlName="resourceName" id="resourceName">
              @if (resources == null) {
                <option selected disabled>Loading Resources</option>
              }
              @else{
                @for (resource of resources; track resource.resourceId){
                  <option value="{{resource.resourceId}}">{{resource.name}} ({{fetchName(resource.owner)}})</option>
                }
              }
            </select>

            <label for="reservationStart">Reservation Start: </label>
            <input formControlName="reservationStart" id="reservationStart"/>


            <label for="reservationEnd">Reservation End: </label>
            <input formControlName="reservationEnd" id="reservationEnd"/>


            <label for="reservationNotes">Notes: </label>
            <input formControlName="reservationNotes" id="reservationNotes"/>

        </div>

        <button>Attach</button>

      </form>
</app-modal>
