<div class="rootLayout">
  <div>
    <h1>Repository For Families (RFF)</h1>
  </div>

  <div>
    <h2>What is it?</h2>
    <p>RFF is a platform for families to communicate with each other in a productive manner.</p>
  </div>


  <div>
    <h3>Share resources</h3>
    <p>
      RFF enables family members to put up shared resources for each member to use. Shared resources are available for
      members to reserve and attach to specific events.
      If any conflict arises then the two parties involved can barter for who gets control over the resource for that
      particular day. The resource owner is the one who makes
      the ultimate decision.
    </p>
  </div>

  <div>
    <h3>Share schedules</h3>
    <p>RFF enables members to post schedules so everyone is on the same page about what is going on. </p>
  </div>

  <div>
    <h3>What is it not?</h3>
    <p>
      RFF is simply a tool that families who already have good communication skills can add to their belt. It is not
      meant to be used as a way to control
      any persons life.
    </p>
  </div>

  <div class="buttonBar">
    <button routerLink="/login">Log in</button>
    <button routerLink="/signup">Sign Up</button>
  </div>

</div>
<router-outlet />
